<div class="col-md-6 offset-md-3">
    <div class="card">
        <div class="card-header">        
            <h1 align="center">Contactos</h1>
        </div>
        <div class="card-body">
            {{#if contacts}}
                <ul class="list-group">
                    {{#each contacts}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{nombre}}
                            {{apellido}} / 
                            {{email}} / 
                            {{telefono}}
                            <a href="/delete-contact/{{id}}" class="btn btn-danger">Eliminar</a>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>Lista vacía.</p>
            {{/if}}
        </div>
        <div class="card-footer">
            <form action="/new-contact" method="POST">
                <div class="form-group">
                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="apellido" placeholder="Apellido" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="email" placeholder="E-Mail" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="telefono" placeholder="Teléfono" class="form-control">
                </div>
                <button class="btn btn-primary btn-block">
                    Guardar
                </button>
            </form>
        </div>
    </div>
</div>